// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #0A578F;
$dark-blue: #074B7A;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #E8F1F5;
