.container-flex {
  display: flex;
  // justify-content: center;
}

.device-photo {
  width: 430px;
}

.title {
  color: #074B7A;
  // padding-left: 134px;
}

.subtitle {
  color: #074B7A;
  // padding-left: 134px;
  padding-bottom: 40px;
}

.text {
  padding-right: 40px;
  width: 430px;
  color: #074B7A;
}

.btn  {
  margin-top: 50px;
}

.container {
 padding-left: 93px;
}
